@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/*---------------------------- Block Model Normalization ----------------------------*/

html {
  scroll-padding-top: 120px;
}

*,
::before,
::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

li{
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {

  height: 100%;
  scrollbar-gutter: stable;
}
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

a:where([class]) {
  display: inline-flex;
}

button,
label {
  cursor: pointer;
}

button {
  -webkit-tap-highlight-color: transparent;
}

:where([stroke]:not(
  [stroke="none"],
  [stroke^="url"]
)) {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


:root{
    --color-black:#000000;
    --color-white:#FFFFFF;
    --color-dark-blue:#0A0A1F;
    --color-dark-blue-alternate:#111122;
    --color-gold:#e5be4b;
    --color-dark-gold:#917934;
    --color-purple:#A89CC8;
    --color-light-purple:#C9C0D3;


    --container-width: 1300px;
    --container-padding-x: 15px;

    --transition-duration: 0.2s;
    --font-family-base: 'Lora', serif;
    --font-family-alternate: 'Cormorant Garamond', serif;
}

body{
    font-family: var(--font-family-base);
    background-color: var(--color-dark-blue);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.container-wide {
  max-width: 1920px;
  margin-inline: auto;
}


html, body {
  margin: 0;
  padding: 0;
}

.hidden{
  display: none;
}

/*---------------------------- Header ----------------------------*/

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 18px;
  cursor: pointer;
}

.burger span {
  display: block;
  height: 2px;
  width: 100%;
  background: var(--color-gold);
  border-radius: 10px;
  transition: var(--transition-duration);
}


.header-logo {
  flex-shrink: 0;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--color-dark-blue);
  border-bottom: 1px solid var(--color-dark-gold);
}

.header-menu-list{
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
}

.header-menu-link{
  color: var(--color-white);
  font-size: 18px;
  text-decoration: none;
}

.header-menu-link:hover{
  color: var(--color-gold);
  transition: var(--transition-duration);
}



.button-action{
  padding: 5px 10px 5px 10px;
  color: var(--color-black);
  text-decoration: none;
  font-size: 20px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #e5be4b;
}

.button-action:hover{
  color: var(--color-white);
  transition: var(--transition-duration);
  background-color: var(--color-dark-gold);
}

.header-line{
  margin-top: 25px;
  width: 100%;
  background-color: var(--color-dark-gold);
  height: 1px;
  display: none;
}

/*---------------------------- Header ----------------------------*/

/*---------------------------- Harmony-title ----------------------------*/

.harmony-text{
  margin-top: 100px;
  text-align: center;
}

.title{
  color: var(--color-white);
}

.title h1{
  font-size: 48px;
  color: var(--color-gold);
}

.title h2{
  font-family: var(--font-family-alternate);
  font-size: 32px;
  padding-bottom: 15px;
}

/*---------------------------- Harmony-title ----------------------------*/

/*---------------------------- Personal approach ----------------------------*/

.personal-approach-title{
  margin-top: 200px;
  text-align: center;
  color: var(--color-gold);
  font-size: 26px;
}

.personal-approach-cards{
  margin-top: 50px;
  column-gap: 30px;
  display: flex;
  justify-content: space-around;

}

.personal-approach-card{
  max-width: 400px;
  padding: 0 20px 0 20px;
  text-align: center;
  align-items: center;
  background-color: var(--color-dark-blue-alternate);
  border: 1px solid var(--color-purple);
  border-radius: 10px;
}

.personal-approach-card img{
  margin: 0 auto;
  margin-top: 30px;
  background-color: var(--color-gold);
  border-radius: 10px;
  padding: 5px;
}

.personal-approach-card h3{
  color: var(--color-gold);
  font-size: 24px;
}

.personal-approach-card p{
  color: var(--color-white);
  font-family: var(--font-family-alternate);
  font-size: 20px;
  margin-top: -10px;
  padding-bottom: 20px;
}

/*---------------------------- Personal approach ----------------------------*/

/*---------------------------- Areas of work ----------------------------*/

.areas-of-work-title{
  margin-top: 200px;
  text-align: center;
  color: var(--color-gold);
  font-size: 26px;
}

.areas-of-work-cards{
  margin-top: 50px;
  column-gap: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  row-gap: 30px;
}

.areas-of-work-card{
  max-width: 400px;
  padding: 0 20px 0 20px;
  text-align: center;
  align-items: center;
  background-color: var(--color-dark-blue-alternate);
  border: 1px solid var(--color-purple);
  border-radius: 10px;
}

.areas-of-work-card img{
  margin: 0 auto;
  margin-top: 30px;
  background-color: var(--color-gold);
  border-radius: 10px;
  padding: 5px;
}

.areas-of-work-card h3{
  color: var(--color-gold);
  font-size: 24px;
}

.areas-of-work-card p{
  color: var(--color-white);
  font-family: var(--font-family-alternate);
  font-size: 20px;
  margin-top: -10px;
  padding-bottom: 20px;
}

.areas-of-work-link{
  margin: 0 auto;
  display: block;
  border: 1px solid var(--color-purple);
  text-decoration: none;
  color: var(--color-purple);
  width: 120px;
  padding: 5px;
  border-radius: 10px;
  background-color: var(--color-dark-blue-alternate);
  margin-top: -10px;
}

.areas-of-work-link:hover{
  border: 1px solid var(--color-gold);
  color: var(--color-gold);
  background-color: var(--color-dark-blue);
  transition-duration: var(--transition-duration);
}

.areas-link{
  padding-bottom: 20px;
}

/*---------------------------- Areas of work ----------------------------*/

/*---------------------------- Services price ----------------------------*/

.services-price-title{
  margin-top: 200px;
  text-align: center;
  color: var(--color-gold);
  font-size: 26px;
}

.service-text{
  margin-top: 75px;
  display: flex;
  color: var(--color-gold);
  font-size: 26px;
  column-gap: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-dark-gold);
}

.service-price{
  display: flex;
  justify-content: space-between;
}

.service-image{
  background-color: var(--color-gold);
  border-radius: 10px;
  padding: 2px;
}

.service-price{
  margin-top: 20px;
  background-color: var(--color-dark-blue-alternate);
  border-radius:5px;
  border-left: 3px solid var(--color-purple);
}

.service-price h2{
  margin-left: 20px;
  color: var(--color-white);
  font-size: 22px;
}

.service-price p{
  font-size: 18px;
  font-weight: 300;
}

.service-price span{
  font-size: 16px;
  color: var(--color-purple);
  font-style: italic;
}

.service-price h3{
  margin-right: 20px;
  color: var(--color-gold);
  font-size: 22px;
}

.game-themes{
  margin-top: 15px;
  font-size: 20px;
  color: var(--color-purple);
  font-style: italic;
}

/*---------------------------- Services price ----------------------------*/

/*---------------------------- About ----------------------------*/

.about-title h2{
  margin-top: 200px;
  text-align: center;
  color: var(--color-gold);
  font-size: 39px;
}

.about-text{
  margin-top: 50px;
  background-color: var(--color-dark-blue-alternate);
  border-radius: 10px;
  padding: 50px;
}

.about-text p{
  color: var(--color-white);
  font-size: 22px;
  font-weight: 300;
}


/*---------------------------- About ----------------------------*/

/*---------------------------- Regular questions ----------------------------*/

.regular-questions-title{
  margin-top: 200px;
  text-align: center;
  color: var(--color-gold);
  font-size: 27px;
}

.regular-questions-box{
  color: var(--color-white);
  font-size: 24px;
  background-color: var(--color-dark-blue-alternate);
  border-radius: 10px;
  position: relative;
  margin-bottom: 30px;
  padding: 20px;
}

.regular-questions-box-label{
  position: relative;
  background-color: var(--color-dark-blue-alternate);
  cursor: pointer;
  padding-right: 40px;
}

.regular-questions .regular-questions-box .regular-questions-box-label::after{
  content: "+";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  font-size: 30px;
}

.regular-questions .regular-questions-box.active .regular-questions-box-label::after{
  content: "-";
}
  


.regular-questions-box-content{
  position: relative;
  overflow: hidden;
  height: 0;
  transition: var(--transition-duration);
}

.regular-questions-box-content p{
  margin-top: 20px;
  font-size: 18px;
}

/*---------------------------- Regular questions ----------------------------*/

/*---------------------------- Footer ----------------------------*/

.footer{
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-dark-gold);
  border-top: 1px solid var(--color-dark-gold);
  padding-bottom: 20px;
}

.footer-text{
  color: var(--color-white);
  font-size: 18px;
  padding-right: 20px;
}

.footer-text h2{
  color: var(--color-gold);
  font-size: 32px;
}

.footer-socials{
  display: flex;
  column-gap: 10px;
}

.footer-contacts h2{
  color: var(--color-gold);
  font-size: 32px;
}

.footer-contacts{
  color: var(--color-white);
}

.footer-contacts a{
  font-size: 18px;
  text-decoration: none;
  color: var(--color-purple);
}

.postscriptum{
  font-size: 14px;
  color: var(--color-white);
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding-bottom: 20px;
}

/*---------------------------- Footer ----------------------------*/

/*---------------------------- Adaptive ----------------------------*/

@media (max-width: 1151px){
    .header-menu-link{
        font-size: 15px;
    }

    .header-menu-list{
        column-gap: 20px;
    }

    .button-action{
        font-size: 16px;
    }

    .header-logo-image{
        max-width: 80%;
    }

    .harmony-text{
      margin-top: 50px;
    }

    .title h1{
      font-size: 32px;
    }

    .title h2{
      font-size: 22px;
      padding-bottom: 0;
    }

    .personal-approach-title{
      font-size: 18px;
    }

    .personal-approach-card h3{
      font-size: 16px;
    }

    .personal-approach-card p{
      font-size: 14px;
    }

    .personal-approach-card img{
      width: 50px;
    }

    .personal-approach-card{
      justify-content: space-around;
    }

    

    .areas-of-work-title{
      margin-top: 100px;
      font-size: 18px;
    }

    .areas-of-work-card h3{
      font-size: 16px;
    }

    .areas-of-work-card p{
      font-size: 14px;
    }

    .areas-of-work-card img{
      width: 50px;
    }

    .areas-of-work-link{
      font-size: 14px;
      padding: 2px;
      width: 100px;
    }

    .areas-of-work-card{
      justify-content: space-around;
    }

    .services-price-title{
      margin-top: 100px;
      font-size: 18px;
    }

    .service-text{
      margin-top: 50px;
      font-size: 20px;
    }

    .service-price h2{
      font-size: 20px;
    }

    .service-price p{
      font-size: 16px;
    }

    .service-price h3{
      font-size: 20px;
    }
    
    .game-themes{
      font-size: 18px;
    }

    .about-text p{
      font-size: 18px;
    }
    .about-title h2{
      margin-top: 100px;
      font-size: 26px;
    }
    
    .regular-questions-title {
      margin-top: 100px;
    }


    .regular-questions-title h2{
      font-size: 26px;
    }

    .regular-questions-box-label{
      font-size: 20px;
    }

    .regular-questions-box-content p{
      font-size: 18px;
    }

    .footer-text h2{
      font-size: 26px;
    }
    .footer-contacts h2{
      font-size: 26px;
    }
}

@media (max-width: 895px){
    .burger {
    display: flex;
    z-index: 1001;
  }

  .header-menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    background-color: #111122be;
    backdrop-filter: blur(10px);
    transition: var(--transition-duration);
    text-align: center;
    padding-top: 80px;
    z-index: 1000;
  }

  .header-menu.active {
    top:0;
    height: 100%;
  }

  .header-menu-list {
    margin-top: -50px;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding-bottom: 30px;
    
  }

  .header-menu-link {
    font-size: 20px;
  }

  .burger.active span:nth-child(1) {
    transform: rotate(45deg) translateY(11px);
  }
  .burger.active span:nth-child(2) {
    opacity: 0;
  }
  .burger.active span:nth-child(3) {
    transform: rotate(-45deg) translateY(-11px);
  }

  .burger.burger.active{
    position: fixed;
    right: 10px;
    
  }

  .header-button{
    display: none;
  }

  .hidden{
    display: block;
  }

  .button-action{
    font-size: 20px;
  }

  .harmony-text{
      margin-top: 25px;
    }

    .title h1{
      font-size: 26px;
    }

    .title h2{
      font-size: 15px;
      padding: 0px 30px 0px 30px;
    }

    .personal-approach-cards{
      display: grid;
      justify-content: center;
      gap: 20px;
    }

    .personal-approach-title{
      margin-top: 100px;
    }

    .personal-approach-title h2{
      font-size: 20px;
    }


    .areas-of-work-card{
      max-width: 350px;
    }


    .areas-of-work-cards{
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
      gap: 20px;
    }

    .areas-of-work-title{
      margin-top: 100px;
    }

    .areas-of-work-title h2{
      font-size: 20px;
    }

    .services-price-title h2{
      margin-top: 100px;
      font-size: 20px;
    }

    .service-text{
      margin-top: 50px;
      font-size: 15px;
      align-items: center;
    }

    .service-price h2{
      font-size: 18px;
      margin-right: 20px;
    }

    .service-price p{
      font-size: 14px;
    }
    
    .game-themes{
      font-size: 18px;
    }

    .service-image{
      width: 45px;
      height: 45px;
      padding: 2;
    }


   .service-price{
    flex-direction: column;
    text-align: center;
    
   }

   .service-price h3{
    text-align: center;
    font-size: 17px;
    margin-right: 0;
   }

   .game-themes{
    font-size: 14px;
   }

   .about-text{
    margin-top: 25px;
    padding: 25px;
   }

   .about-text p{
      font-size: 16px;
    }
    .about-title h2{
      margin-top: 100px;
      font-size: 20px
    }

    .regular-questions-title h2{
      font-size: 20px;
    }

    .regular-questions-box-label{
      font-size: 16px;
    }

    .regular-questions-box-content p{
      font-size: 14px;
    }

    .footer{
      margin-top: 100px;
    }

    .footer-text{
      font-size: 14px;
    }

    .footer-text h2{
      font-size: 20px;
    }
    .footer-contacts h2{
      font-size: 20px;
    }

    .footer-contacts{
      font-size: 14px;
    }

    .footer-contacts a{
      font-size: 14px;
    }

    .postscriptum{
      font-size: 12px;
    }
}
/*---------------------------- Adaptive ----------------------------*/


